<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
<display-name>CruiseCompany</display-name>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/CruiseCompany</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

<!--    <error-page>-->
<!--        <error-code>404</error-code>-->
<!--        <location>/404.html</location>-->
<!--    </error-page>-->

<!--    <error-page>-->
<!--        <error-code>500</error-code>-->
<!--        <location>/500.html</location>-->
<!--    </error-page>-->

    <filter>
        <filter-name>LoginUserFilter</filter-name>
        <filter-class>com.example.cruisecompany.filtres.LoginUserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginUserFilter</filter-name>
        <url-pattern>/UserProfile</url-pattern>
        <url-pattern>/Booking</url-pattern>
    </filter-mapping>

<!--    <error-page>-->
<!--        <exception-type>java.lang.RuntimeException</exception-type>-->
<!--        <location>/BalanceError.jsp</location>-->
<!--    </error-page>-->

    <jsp-config>
        <taglib>
            <taglib-uri>ownTag</taglib-uri>
            <taglib-location>/WEB-INF/ownTag.tld</taglib-location>
        </taglib>
    </jsp-config>

<!--    <filter>-->
<!--        <filter-name>SecureFilter</filter-name>-->
<!--        <filter-class>com.example.cruisecompany.filtres.LoginUserFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>SecureFilter</filter-name>-->
<!--        <url-pattern>/Orders</url-pattern>-->
<!--        <url-pattern>/AdminHomePage</url-pattern>-->
<!--        <url-pattern>/AddNewCruise</url-pattern>-->
<!--    </filter-mapping>-->

</web-app>